@import "tailwindcss";

.my-day {
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.2s ease;
  color: red;
}

.my-day:hover   {
  background-color: #e2e8f0;
  color: #000;
}

.available-day {
  background-color: #cce7ff;
  color: #000;
  border-radius: 50%;
}

@layer utilities {
  .animate-shake {
    animation: shake 0.4s ease-in-out;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
}
/* styles/globals.css or app/globals.css */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}



.rdp-month > table {
  /* border: 1px solid black !important; */
  border-radius: 8px !important;
  overflow: hidden;
  border-collapse: separate;
  padding-top: 8px;
  padding-bottom: 8px;
}


.rdp-day_disabled {
  cursor:not-allowed !important;
  opacity: 0.5;
}


.rdp-disabled >button{
  cursor:not-allowed !important;
}
.rdp-day_button{

    /* cursor:not-allowed !important; */
}



.rdp-selected {
  background: transparent !important;
  /* border: 1px solid black !important; */
  border-radius: 100% !important;
}

.rdp-selected .rdp-day_button {
  /* border:0 !important
   */

  background: lightblue;
}
